<div class="footer-container">
    <div class="logo">
        <img src="./assets/logo-ps.png">
        <div class="icon-world">
            <img src="./assets/icon-world.png">
            <span>País/região: Brasil</span>
        </div>
    </div>
    <div class="links_container">
        <div class="links-content">
            <ul>
                <li><a href="#">Suporte</a></li>
                <li><a href="">Política de privacidade</a></li>
                <li><a href="">Termos de uso do site</a></li>
                <li><a href="">Mapa do site</a></li>
                <li><a href="">PlayStation Studios</a></li>
                <li><a href="">Legal</a></li>
                <li><a href="">Sobre a SIE</a></li>
            </ul>
        </div>
        <div class="links-content">
            <ul>
                <li><a href="">Termos de serviço da PSN</a></li>
                <li><a href="">Política de cancelamento da PS Store</a></li>
                <li><a href="">Avisos de saúde</a></li>
                <li><a href="">Sobre as classificações</a></li>
            </ul>
        </div>
        <div class="links-content">
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">X (Twitter)</a></li>
                <li><a href="">YouTube</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Aplicativo para Android</a></li>
                <li><a href="">Aplicativo para iOS</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-direitos">
        <p>© 2023 Sony Intertainment Inc. Todos os direitos reservados.</p>
    </div>
</div>
