<div class="home_container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="269,99"
    >
    </app-card> 
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="BEST OF YEAR"
        gameType="DIGITAL | PS5"
        gamePrice="369,99"
    >
    </app-card> 
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="369,99"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS4 PS5"
        gamePrice="269,99"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="229,99"
    >
    </app-card> 
</div>
<h3>Veja mais</h3>
<div class="icons home_container">
    <app-card-option
        icon="./assets/icons-options/todos-os-jogos-ps5.jpg"
    >
    </app-card-option>
    <app-card-option
        icon="./assets/icons-options/todos-os-jogos.jpg"
    >
    </app-card-option>
    <app-card-option
        icon="./assets/icons-options/pechinchas.jpg"
    >
    </app-card-option>
    <app-card-option
        icon="./assets/icons-options/expansoes.jpg"
    >
    </app-card-option>
    <app-card-option
        icon="./assets/icons-options/free-to-play.jpg"
    >
    </app-card-option>
    <app-card-option
        icon="./assets/icons-options/vr.jpg"
    >
    </app-card-option>
    <app-card-option
        icon="./assets/icons-options/ps-plus.jpg"
    >
    </app-card-option>
    <app-card-option
        icon="./assets/icons-options/ps-vr2.jpg"
    >
    </app-card-option>
</div>