<div class="menu-selecion">
    <div class="logo-ps-blue">
        <img src="./assets/logo-ps-blue.png" alt="logo playstation blue">
        <app-btn-menu btnName="Jogos"></app-btn-menu>
        <app-btn-menu btnName="Hardware"></app-btn-menu>
        <app-btn-menu btnName="Serviços"></app-btn-menu>
        <app-btn-menu btnName="Notícias"></app-btn-menu>
        <app-btn-menu btnName="Lojas"></app-btn-menu>
        <app-btn-menu btnName="Suporte"></app-btn-menu>
    </div>
    <div class="login-seach">
        <button onclick="" id="btn-start">Iniciar sessão</button>
        <a href="#"><img src="./assets/icon-lupa.png"></a>
    </div>
    
</div>

<div class="menu-bar_container">
    <div class="menu-bar_logo">
        <img
            src="assets/ps-logo.png"
            alt="playstation logo"
            srcset=""
            width="140px"
            height="32px"
        >
    </div>
    <div class="menu-bar-itens">
        <app-menu-bar-item></app-menu-bar-item>
    </div>
</div>
